<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelsagency">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".AgencyEditTravel"
            android:exported="false" />
        <activity
            android:name=".ViewListTravelsAgency"
            android:exported="false" />
        <activity
            android:name=".CreateTravel"
            android:exported="false" />
        <activity
            android:name=".AgencyHome"
            android:exported="false" />
        <activity
            android:name=".TravelerHome"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false"
            android:label="@string/title_activity_user_home"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".agencyViews.AgencyHome"
            android:exported="false"
            android:label="@string/title_activity_agency_home"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".userViews.UserHome"
            android:exported="false"
            android:label="@string/title_activity_user_home"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>